{% extends "rowingWebsiteApp/base.htm" %}
{% load static %}



{% block top %}
    <style>
        .bg{

            background-image: url("{% static 'rowingWebsiteApp/Images/MAIN.jpg' %}");
            height:75vh;
            width: 100%;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .text-center{
            line-height: 3;
        }

    </style>

    <div class="bg">

    </div>

{% endblock top %}

{% block content %}

    <h1>jkfa,sjfnk</h1>
    <div class="mt-n2">
        {% for sections in aboutText %}
            <div>
                <div class="text-dark text-center pt-5">
                    <h1>{{sections.title}}</h1>
                </div>

                <div class="mx-5">
                    {% if forloop.counter|divisibleby:2 %}

                    <div class="row p-xl-5">
                        <div class="text-dark col-md align-self-center">
                            <p class="text-center">{{sections.text}}
                            </p>
                        </div>
                        <div class="col-md">
                            <img class="img-fluid shadow-md" src="{{sections.image.url}}" alt="">
                        </div>
                    </div>
                    </div>
                    {% else %}
                    <div class="row p-xl-5">
                        <div class="col-md">
                            <img class="img-fluid shadow-md" src="{{sections.image.url}}" alt="">
                        </div>
                        <div class="text-dark col-md align-self-center">
                            <p class="text-center">{{sections.text}}
                            </p>
                        </div>   
                    </div>
                    {% endif %}
                </div>

            </div>

            {% if forloop.last %}
            {% else %}
            <hr>
            {% endif %}
        {% endfor %}

{% endblock content %}