{% extends "rowingWebsiteApp/base.htm" %}
{% load static %}



{% block top %}
    <style>
        .bg{

            background-image: url("{% static 'rowingWebsiteApp/Images/MAIN.jpg' %}");
            height:75vh;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        p{
            line-height: 2;
        }

        .pstyle {
            -webkit-columns: 2 200px;
            -moz-columns: 2 200px;
            columns: 2 200px;
        }   

    </style>

    <div class="bg">

    </div>

{% endblock top %}

{% block content %}

    <div class="mt-n2">
        {% for sections in aboutText %}
            <div>
                <div class="text-dark text-center pt-5">
                    <h1>{{sections.title}}</h1>
                </div>

                <div class="mx-5 mt-xl-5">
                        
                    <div class="col-md pstyle">
                        <p>{{sections.text|linebreaks}}
                        </p>
                    </div>  
                    
                    <div class="col-md d-flex flex-wrap">
                        <div class="col-md mt-3">
                            <img class="img-fluid shadow-md" src="{{sections.image.url}}" alt="">
                        </div>
                        <div class="col-md mt-3">
                            <img class="img-fluid shadow-md" src="{{sections.image2.url}}" alt="">
                        </div>     
                    </div> 
                </div>

            </div>

            {% if forloop.last %}
            {% else %}
            <hr>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}