{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>LSU Rowing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <style>
        body{
            background-image: url("{% static 'rowingWebsiteApp/Images/background.png' %}");
            background-position-y: 20px;
            
            background-size: 100%;
            background-repeat: repeat-y;
        }
        .vector{
            height: 120px;
            width: auto;
        }
        .navbar-nav >li{
            font-size: 13px;
            padding-left: 12px;
            padding-right: 12px;
            font-family: 'Oswald';
        }
        #main-view{
        margin-right: 5%;
        margin-left: 5%;
        height: 100%;
        min-width: 450px;
        }

        

    </style>

</head>
<body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
                <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Roster</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Coaching</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Recruitment</a>
                            </li>
                    </ul>
                </div>
                <div class="justify-content-center">
                        <img class= "vector "src="{% static 'rowingWebsiteApp/Images/CrestFinaltest.svg' %}" alt="">
                </div>
                <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                    <ul class="navbar-nav mr-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sponsor</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Photo Gallery</a>
                            </li>
                    </ul>
                </div>
            </nav>
        
            {% block top %}
            {% endblock top %}
            
        <div id="main-view" class="align-content-lg-center" style="background-color:#f0f0f0">
            {% block content %}
            {% endblock content %}

            <hr>
            <div>
                    <div class="text-center pt-2 ">
                        <h2>Get in Contact with Us!</h2>
                    </div>
                    <div class="row p-xl-5">
        
                        <div class="text-dark col-md align-self-center">
                            <div class="row">
                                <p>We have practice every Monday-Friday from 5:45am - 7:00am, why not join us and see how it
                                goes! </p>
                            </div>
                            <div class="row justify-content-center">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3440.6503037185644!2d-91.173418!3d30.417662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8626a6d835c0790b%3A0xba1d8265a4d095cc!2s3355%20Dalrymple%20Dr%2C%20Baton%20Rouge%2C%20LA%2070802!5e0!3m2!1sen!2sus!4v1587460010960!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
        
                        <div class="col-md">
                            <h6 class="pb-1">Reach us on Social Media</h6>

        
                            <h6 class="py-2">Send us a Message</h6>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_name">Firstname:</label>
                                            <input id="form_name" type="text" name="name" class="form-control" placeholder="Firstname" required="required" data-error="Firstname is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_lastname">Lastname:</label>
                                            <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Lastname" required="required" data-error="Lastname is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_email">Email:</label>
                                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Example@email.com" required="required" data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_message">Message:</label>
                                            <textarea id="form_message" name="message" class="form-control" placeholder="Insert Message Here" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        </div>

        

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
