{% extends "rowingWebsiteApp/base.htm" %}
{% load static %}



{% block top %}

    <style>
        .bg{

            background-image: url("{% static 'rowingWebsiteApp/Images/MAIN.jpg' %}");
            height:75vh;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
        <div class="bg shadow-lg" >
            
        </div>

    
    
{% endblock top %}